<header data-header-scroll>
  <div class="container">
    <a class="logo" href="#">THEMOVIEBOX</a>
    <div class="log-wrapper">
      <span class="search"></span>
      <a href="#" title="Login" class="login">Login</a>
      <button class="primary-button signup-btn">Sign up</button>
    </div>
	</div>
</header>
<router-outlet></router-outlet>
<div class="loading-icon"></div>
<footer>
  <div class="container">
    <div class="head-line">
      <span class="logo-text">THEMOVIEBOX</span>
      <nav class="link-wrapper">
        <ul class="row">
          <li><a class="link" href="#" title="About">About</a></li>
          <li><a class="link" href="#" title="Movies">Movies</a></li>
          <li><a class="link" href="#" title="Rating">Rating</a></li>
          <li><a class="link" href="#" title="Contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <span class="cori-text">Designed by Milan Houter. All rights reserved.</span>
  </div>
</footer>